<div class='dashboard'>
    <div class="dashboard-nav">
        <header>

            <a href="#" class="brand-logo"><i class="fas fa-heartbeat"></i> <span
                    class="text-align-left">TMadic</span></a>
        </header>


        <div class="dashboard-nav-list">

            <a href="#" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-hospital-user"></i> Patients 
            </a>


            <a href="#!" class="dashboard-nav-item "><i class="fas fa-dolly-flatbed"></i>Inventory
            </a>



            <a href="#!" class="dashboard-nav-item "><i class="fas fa-rupee-sign"></i>Accounts 
            </a>


            <a href="#!" class="dashboard-nav-item "><i class="fas fa-calendar-check"></i> Appointments 
            </a>


            <a href="./pages/specialist.html" class="dashboard-nav-item"><i class="fas fa-user-md"></i>Specialist
            </a>


            <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile
             </a>

            <div class="nav-item-divider"></div>

            <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout 
            </a>


