<div class="dashboard-content">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 text-muted">Total Revenue</p>
                                <h2>₹99,999</h2>
                            </div>
                            <span class="badge badge-pill badge-cyan font-size-12">
                                <i class="fas fa-arrow-up"></i>
                                <span class="font-weight-semibold ml-1">6.71%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-primary badge-dot mr-2"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13 mt-2">55% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 mt-2">
                                <div class="progress-bar bg-primary" style="width: 55%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 text-muted">Total Losses</p>
                                <h2>₹9,999</h2>
                            </div>
                            <span class="badge badge-pill badge-cyan badge-red">
                                <i class="fas fa-arrow-down"></i>
                                <span class="font-weight-semibold   ml-1">6.71%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-primary badge-dot mr-2"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13 mt-2">60% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 mt-2">
                                <div class="progress-bar bg-primary" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 text-muted">Sales</p>
                                <h2>₹89,999</h2>
                            </div>
                            <span class="badge badge-pill badge-cyan font-size-12">
                                <i class="fas fa-arrow-up"></i>
                                <span class="font-weight-semibold ml-1">6.71%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-primary badge-dot mr-2"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13 mt-2">70% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 mt-2">
                                <div class="progress-bar bg-primary" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 text-muted">Margin</p>
                                <h2>₹9,999</h2>
                            </div>
                            <span class="badge badge-pill badge-cyan font-size-12">
                                <i class="fas fa-arrow-up"></i>
                                <span class="font-weight-semibold ml-1">6.71%</span>
                            </span>
                        </div>
                        <div class="m-t-40">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-primary badge-dot mr-2"></span>
                                    <span class="text-gray font-weight-semibold font-size-13">Monthly Goal</span>
                                </div>
                                <span class="text-dark font-weight-semibold font-size-13 mt-2">65% </span>
                            </div>
                            <div class="progress progress-sm w-100 m-b-0 mt-2">
                                <div class="progress-bar bg-primary" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
